.cardContainer{
    box-sizing: border-box;
    width: 350px;
    height: 250px;
    margin-top: 10px;
    padding-top: 20px;
    padding-inline: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 12px 0px rgba(128, 128, 128, 0.304);
    margin: 20px;
}
.cardImg{
    margin-left: 210px;
    margin-top: 20px;
}
.cardTitle{
    font-weight: bolder;
    font-size: 18px;
}
.cardSentence{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.58);
}